{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Without menu - Layouts{% endblock %}

{% block content %}
<!-- Layout Demo -->
<div class="layout-demo-wrapper">
  <div class="layout-demo-placeholder">
    <img src="{% static 'img/layouts/layout-without-menu-light.png' %}" class="img-fluid" alt="Layout without menu">
  </div>
  <div class="layout-demo-info">
    <h4>Layout without Menu (Navigation)</h4>
    <button class="btn btn-primary" type="button" onclick="history.back()">Go Back</button>
  </div>
</div>
<!--/ Layout Demo -->
{% endblock %}
